@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;900&display=swap);


/*index*/

/* Etiquetas */

/* botones*/

/*pagina catalogo*/

.galeria{

    background-color: #292929;
    height: 300px;
    width: 200px;
    margin: 20px;
    border: #FEF972;
}

/*pagina nosotros*/
.jerrymamado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 400px;
    text-align: center;
    margin-left: 5%;
    grid-area: jerry;
    
}
.jerrymamadoimg{
    border: solid 4px #FEF972;
    border-radius: 10%;
    height: auto;
    width: 100%;
    max-width: 300px;
}
.nosotrosTexto{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    text-align: right;
    grid-area: ntexto;
}
.nosotrosTexto h2{
    font-size: 2rem;
}
.nosotrosTexto h3{
    font-size: 2rem;
    color: #FEF972;
}
#nosotrosContenido{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100vh;
        padding: 0px;
        margin: 0%;
        grid-template-areas:
            "jerry ntexto";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
}


.material-icons{
    margin-top: 0px;
    margin-left: 5px;
}

.carritoicono{
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #FEF972;
    margin-left: 10px;
    
}


/*pagina catalogo */

.arribaProductos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulocatalogo{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.catalogoTitulo{
    font-size: larger;
}
catalogoSubTitulo{
    display: flex;
    margin-top: 0;
}


/* Id */

/* ESTILOS RESPONSIVE */


@media screen and (max-width: 768px){
    
}

/* ANIMACIONES */
.shake__lento{
    font-size: 10rem;
    margin: auto;
    border-radius: 10%;
}
.shake__lento:hover {
    animation: agitar 5s;
    animation-iteration-count: infinite;
}
.carritoicono:hover{
    animation: agitar 1s;
    animation-iteration-count: infinite;

}
@keyframes agitar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
